<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        
        <div class="ui inverted menu">
            <div class="header item"><i class="far fa-comments"></i><p> &nbsp;&nbsp;&nbsp;&nbsp; Blog Site</p></div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Blog</a>
        </div>
    
